/* HTML ELEMENTS */

body {
	color: ghostwhite;
	font-family: quicksand, ubuntu, "Work Sans", sans-serif;
	background-image: url(../images/polybg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

h3 {
	color: rgb(0, 0, 0);
	margin-top: .5em;
}

p {
	color: rgb(0, 0, 0);
	font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

footer {
	height: 3em;
	background-color: rgba(0, 0, 0, .9);
	margin-top: 50px;
	border-radius: 5px 20px 0 0;
	padding: 1em;
	font-variant: small-caps;
}

/* CUSTOM CLASSES */

.icon-display {
	font-size: 1.5em;
}

.btn-display {
	font-size: 14px;
	font-family: quicksand, ubuntu, "Work Sans", sans-serif;
}

.layover {
	height: 100%;
	width: 95%;
	background: rgba(0, 0, 0, .9);
	padding: 1em;
	box-shadow: inset 0 0 10px rgb(255, 255, 255);
	position: relative;
	border-radius: 5px 20px 5px 20px;
}

.profile-img {
	height: 125px;
	width: 125px;
	border-radius: 5px 20px 5px 20px;
	overflow: hidden;
	border: 2px solid rgba(0, 0, 0, .7);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .9);
}

.btn-static {
	background-color: rgba(255, 255, 255, .9) !important;
	margin-right: 2em;
	margin-top: 1em;
	font-weight: 700;
}

.btn-static:hover {
	background-color: rgba(0, 0, 0, .9) !important;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 5px 20px 5px 20px;
	margin: 0px auto;
	background-color: rgba(0,0,0,.7);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
	max-width: 1000px;
	min-height: 600px;
	justify-content: center;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	border-radius: 5px 20px 5px 20px;
	padding: 1px;
	border: 1px solid #021a40;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

.photo-container {
	text-align: center;
	margin: 15px auto;
	width: 256px;
    height: 256px;
}

.photo-container img {
 	max-width: 100%;
	width: 256px;
	height: 256px;
}

.photo-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, .7);
	opacity: 0;
	transition: opacity .1s;
	border-radius: 10px;
	cursor: pointer;
}

.photo-overlay:hover {
	opacity: 1;
}

.photo img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale(1.1);
}

.port-photo {
	width: 200px;
	height: 200px;
}

.gradient-bg {
		background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), 
		rgba(255, 255, 255, .7), 
		rgba(255, 255, 255, .5), 
		rgba(255, 255, 255, .3), 
		rgba(255, 255, 255, .5), 
		rgba(255, 255, 255, .7), 
		rgba(255, 255, 255, .5), 
		rgba(255, 255, 255, .3), 
		rgba(255, 255, 255, .5), 
		rgba(255, 255, 255, .7), 
		rgba(255, 255, 255, .9));
}

/* BOOTSRAP OVERRIDES */

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
	max-height: 280px;
	background: none !important;
}

.navbar-light {
	font-variant: small-caps;
}

.navbar-collapse {
	justify-content: center;
}

.row {
	justify-content: center;
}

.btn-light {
	color: rgb(0, 0, 0) !important;
	background: none;
	border-radius: 5px 15px 5px 15px;
	border: 1px solid rgba(0, 0, 0, .9);
	background: rgba(255, 255, 255, .5);
	transition: transform .3s ease-in-out;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
}

.btn-light:hover, .btn-light:active {
	background: rgba(0, 0, 0, .9);
	color: ghostwhite !important;
	transform: scale(1.1);
	-webkit-filter: blur(0);
}

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.card {
	border-radius: 5px 20px 5px 20px;
	margin: 1em auto;
}

.card-img-top {
	transition: transform .5s ease-in-out;
	border-radius: 5px 20px 5px 20px;
}

.card-img-top:hover {
	transform: scale(1.25);
	border: 2px solid rgba(0, 0, 0, .9);
	z-index: 100;
}

/* TARGETED IDS */

#jumbo-text {
	font-family: "quicksand";
	font-variant: small-caps;
	font-weight: 900;
	text-shadow: 1px 2px 10px rgba(0, 0, 0, .9);
}

#skills {
	margin-top: 30em;
}

/* MEDIA QUERIES */

@media(max-width: 767px) {
	.btn-lg {
		margin: 2%;
	}

	#jumbo-text {
		text-align: center !important;
	}
}

@media(max-width: 575px) {
	.navbar-collapse {
		background-color: rgba(0, 0, 0, .5);
	}
}

@media(max-width: 499px) {
	.btn {
		display: block;
		margin: 10px auto;
	}
}