/* HTML ELEMENTS */

body {
	color: ghostwhite;
	font-family: quicksand, ubuntu, "Work Sans", sans-serif;
	height: 100%;
	background-image: url(../images/coffeeandcode3.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% auto;
	overflow-x: hidden;
}

button {
	margin: 1em;
	display: inline-block;
}

/* CUSTOM CLASSES */

.icon-display {
	font-size: 1.5em;
}

.btn-display {
	font-size: 14px;
	font-family: quicksand, ubuntu, "Work Sans", sans-serif;
	font-weight: 300;
}

.content-field {
	margin-top: 400px;
	border-radius: 5px 15px 5px 15px;
	padding: 0;
	overflow: hidden;
	height: 400px;
}

.layover {
	height: 100%;
	width: 95%;
	background: rgba(0, 0, 0, .9);
	padding: 1em;
	box-shadow: inset 0 0 10px rgb(255, 255, 255);
	position: relative;
	border-radius: 5px 20px 5px 20px;
}

.profile-img {
	height: 125px;
	width: 125px;
	border-radius: 5px 20px 5px 20px;
	overflow: hidden;
	border: 2px solid rgba(0, 0, 0, .7);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .9);
}

.btn-static {
	background-color: rgba(255, 255, 255, .9) !important;
	
}

.btn-static:hover {
	background-color: rgba(0, 0, 0, .9) !important;
}

/* BOOTSRAP OVERRIDES */

.jumbotron {
	max-height: 280px;
	background: none !important;
}

.navbar-light {
	font-variant: small-caps;
	font-size: 1.25em;
	font-weight: 700;
}

.navbar-collapse {
	justify-content: center;
}

.row {
	justify-content: center;
}

.btn-light {
	background: none;
	border-radius: 5px 15px 5px 15px;
	border: 1px solid rgba(0, 0, 0, .9);
	background: rgba(255, 255, 255, .5);
	transition: transform .3s ease-in-out;
}

.btn-light:hover, .btn-light:focus, .btn-light:active {
	background: rgba(0, 0, 0, .9);
	color: ghostwhite;
	transform: scale(1.1);
}

/* TARGETED IDS */

#jumbo-text {
	font-family: "quicksand";
	font-variant: small-caps;
	font-weight: 900;
	text-shadow: 1px 2px 10px rgba(0, 0, 0, .9);
}

/* MEDIA QUERIES */

@media(max-width: 767px) {
	.btn-lg {
		margin: 2%;
	}
	#jumbo-text {
		text-align: center !important;
	}
}

@media(max-width: 575px) {
	.navbar-collapse {
		background-color: rgba(0, 0, 0, .9);
	}
}

@media(max-width: 499px) {
	.btn {
		display: block;
		margin: 10px auto;
	}
}


