/* HTML ELEMENTS */

::-webkit-scrollbar { 
    display: none; 
}

a {
	color: inherit !important;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
    max-height: 100%;
	max-width: 100%;
}

footer {
	height: 25vh;
	align-items: center;
	justify-content: center;
}

h1 {
	display: inline;
}

h3, h4 {
	line-height: 30px;
	padding-bottom: 20px;
}

p {
	font-family: quicksand;
	font-weight: 300;
	line-height: 25px;
	padding-bottom: 15px;
}

/* BOOTSTRAP OVERRIDES */

.bg-dark {
	color: ghostwhite;
}

.btn {
	border-radius: 5px 25px 5px 25px !important;
	margin: 0 auto;
	background: rgba(0, 0, 0, .45) !important;
	position: relative;
}

.btn:hover {
	background: rgba(255, 255, 255, .45) !important;
	color: black !important;
	border-color: black !important;
}

.card {
	margin: 15px auto;
	height: 90%;
	width: auto;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .7);
}

.card-img-top {
	transition: transform 1s;
}

.card-img-top:hover {
	transform: scale(1.75);
}

.card-body {
	background: linear-gradient(to bottom right, rgba(0, 0, 20, .7), rgba(0, 0, 30, .6), rgba(0, 0, 40, .7));
}

.container-fluid {
	border-radius: 8px;
}

.flex-container {
	display: -webkit-files;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0 auto;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: center;
}

.jumbotron {
    height: 75vh;
    background: url("../images/lightball.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
	background-attachment: fixed;
	border-radius: 0 !important;
    color: ghostwhite;
}

.navbar {
	color: ghostwhite;
}

.navbar-brand:hover {
	cursor: pointer;
}

.navbar-collapse {
	background: none !important;
}

.nav-item {
		font-size: 1.5em;
}

.nav-link:hover {
	cursor: pointer;
}

.row {
	align-items: center;
	justify-content: center;
}

/* CUSTOM CLASSES */

.jumbo-frame {
	height: 25vh;
	font-size: 4em;
}

.photo {
	position: relative;
	line-height: 0;
	margin-bottom: 2em;
	overflow: hidden;
	border-radius: 10px;
	padding: 1px;
	border: 1px solid rgb(45, 45, 99);
	background-color: rgb(15, 15, 15);
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .7);
}

.photo img {
	transition: transform .5s;
	transform-origin: 50% 50%;
}

.photo:hover img {
	transform: scale (1.1);
}

.photo-container {
	text-align: center;
	margin: 15px auto;
	width: 256px;
	height: 256px;
}

.photo-container img {
	max-width: 100%;
	width: 256px;
	height: 256px;
	margin: 0 auto;
	transition: transform 1s;
}


.photo-overlay {
	color: ghostwhite;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, .7);
	opacity: 0;
	transition: opacity .5s;
	border-radius: 10px;
	cursor: pointer;
}

.photo-overlay:hover {
	opacity: 1;
}

.sub-text {
	font-size: .25em;
}

.tall-row {
	margin-top: 5vh;
	margin-bottom: 10vh;
}

/* FONTS */

.montserrat {
	font-family: "montserrat subrayada", sans-serif;
}

.quicksand {
    font-family: quicksand, sans-serif;
    font-weight:500;
}

.ubuntu {
    font-family: ubuntu, sans-serif;
    font-variant: small-caps;
    font-weight:700;
}

.work-sans {
    font-family: "work-sans", sans-serif;
}

/* DIRECT ID TARGETS */

#bio-box {
	height: 60vh;
}

#circle1 {
	margin-top: 1em;
	font-size: 3em;
	line-height: 1.5em;
}

#circle2 {
	margin-top: 1em;
	font-size: 2.5em;
	line-height: 1.5em;
}

#circle3 {
	margin-top: 1em;
	font-size: 2em;
	line-height: 1.5em;
}

#code-icon {
    height: 50px;
    width: auto;
}

#fade4 {
	margin-top: 2em;
	width: 350px;
	height: auto;
}

#landing-bar {
	box-shadow: none;
}

#portfolio {
	height: 100vh;
}

#profile-img {
	max-height: 150px;
	max-width: auto;
	border-radius: 5px 25px 5px 25px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .7);
}

#skills {
	height: 80vh;
	overflow: scroll;
	overflow-x: hidden;
}

@media (max-width: 1352px) {
	footer {
		height: 25%;
	}
	
	.jumbotron {
		height: 75%;
	}
	
	.jumbo-frame {
		height: 25%;
	}
	
	.tall-row {
		margin-top: 5%;
		margin-bottom: 10%;
	}
	
	#bio {
		margin-top: 18%;
	}
	
	#landing-bar {
		display: block !important;
	}
	
	#bio-box {
		height: 55%;
	}
	
	#portfolio {
		height: 100%;
	}
	
	#skills {
		height: 80%;
	}
}

@media (max-height: 650px) {
	#circle1 {
		display: none !important;
	}
}

@media (max-height: 516px) {
	#circle2 {
		display: none !important;
	}
}