body {
    height: 100%;
    width: 100%;
	overflow: hidden;
}

h1 {
	display: inline;
}

a {
	color: inherit !important;
}

.jumbotron {
    min-height: 75vh;
    background: url("../images/lightball.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
	background-attachment: fixed;
	border-radius: 0 !important;
    color: ghostwhite;
}

.navbar {
	color: ghostwhite;
}

.btn {
	border-radius: 5px 25px 5px 25px !important;
	margin-left: 150px;
	margin-right: 150px;
	background: rgba(0, 0, 0, .45) !important;
}

.jumbo-frame {
	min-height: 25vh;
	font-size: 4em;
	padding-top: .3em;
}

.sub-text {
	font-size: .25em;
}

/* FONTS */
.quicksand {
    font-family: quicksand;
    font-weight:500;
}

.ubuntu {
    font-family: ubuntu;
    font-variant: small-caps;
    font-weight:700;
}

.work-sans {
    font-family: "work-sans";
}

.montserrat {
	font-family: "montserrat subrayada";
}

/* DIRECT ID TARGETS */

#code-icon {
    height: 50px;
    width: auto;
}

#fade4 {
	margin-top: 2em;
	width: 350px;
	height: auto;
}

#circle1 {
	margin-top: 1em;
	font-size: 3em;
	line-height: 1.5em;
}

#circle2 {
	margin-top: 1em;
	font-size: 2.5em;
	line-height: 1.5em;
}

#circle3 {
	margin-top: 1em;
	font-size: 2em;
	line-height: 1.5em;
}